# Remote database
DATABASE_URL=postgresql://<user>:<password>@<pooler-host>/<db-name>?sslmode=require&channel_binding=require

# App
SITE_URL=https://yourdomain.com

# Seed images
SEED_IMAGE_SOURCE=remote
SEED_REMOTE_IMAGE_BASE_URL=https://firebasestorage.googleapis.com/v0/b/<project-id>.appspot.com/o
