@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  //--foreground-rgb: 0, 0, 0;
  //--background-start-rgb: 214, 219, 220;
  //--background-end-rgb: 255, 255, 255;
  font-size: 14px;
}

@media (prefers-color-scheme: dark) {
  //:root {
  //  --foreground-rgb: 255, 255, 255;
  //  --background-start-rgb: 0, 0, 0;
  //  --background-end-rgb: 0, 0, 0;
  //}
}

.text-tremor-default,
.tremor-Button-root {
  span {
    font-size: 1rem !important;
  }
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1 {
  font-size: 32px;
  @media screen and (min-width: 768px) {
    font-size: 56px;
  }
}

img {
  //height: 100%;
  width: auto;
  max-width: 100%;
}

.container {
  padding: 0 16px;
  margin: 0 auto;
}

button {
  font-size: 16px;
  span {
    font-size: 16px;
  }
}

// Google Places Autocomplete Styles
.pac-container {
  border-radius: 8px;
}
.pac-item {
  padding: 8px 12px;
}

.pac-container:after {
  /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */

  background-image: none !important;
  height: 0px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
