@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 14px;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1 {
  font-size: 32px;
  @media screen and (min-width: 768px) {
    font-size: 56px;
  }
}

img {
  //height: 100%;
  width: auto;
  max-width: 100%;
}

.container {
  padding: 0 16px;
  margin: 0 auto;
}

button {
  font-size: 1rem;
  span {
    font-size: 1rem;
  }
}

.text-tremor-default,
.tremor-Button-root {
  span {
    font-size: 1rem !important;
  }
}

// Google Places Autocomplete Styles
.pac-container {
  border-radius: 8px;
}
.pac-item {
  padding: 8px 12px;
}

.pac-container:after {
  /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */

  background-image: none !important;
  height: 0px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
